<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form method="post" action="save">
		<table>
			<tr>
				<td><label for="user-name">User name</label></td>
				<td><input type="text" name="name"/></td>
			</tr>
			<tr>
				<td><label for="user-name">Email</label></td>
				<td><input type="text" name="email"/></td>
			</tr>
			<tr>
				<td></td>
				<td><button type="submit">Submit</button></td>
			</tr>
			
		
		</table>
	</form>
	<h3>Link </h3>
	
	<a href="departemen">Ke Departemen</a><br/>
	<a href="karyawan">Ke karyawan</a><br/>
</body>
</html>