<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	 <form method="post" action="insertdepartemen">
	 	<table>
	 	<tr>
	 		<td>id departemen</td>
	 		<td>: <input type="text" name="id"/></td>
	 	</tr>
	 	<tr>
	 		<td>Nama Departemen</td>
	 		<td>: <input type="text" name="namaDepartemen"/></td>
	 	</tr>
           <tr> 
           		<td><button type="submit"> Submit</button></td>
           </tr>
           
          </table>
        </form>
</body>
</html>